:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --bg-color: #ffffff;
    --text-color: #333333;
    --link-color: #0056b3;
    --success-color: #28a745;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --info-color: #17a2b8;
}

h1{
    font-size: 2em;
    margin: 0.67em 0;
    color: #0a4b78;
}