:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --bg-color: #ffffff;
    --text-color: #333333;
    --link-color: #0056b3;
    --success-color: #28a745;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --info-color: #17a2b8;
}

body{
    margin: 0;
}

.hero-section{
    background-color: var(--primary-color);
    color: white;
    padding: 2em;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section__headline,
.hero-section__subheadline {
    margin: 0;
}
.hero-section__headline {
    font-size: 2.5em;
}

.hero-section__subheadline {
    font-size: 1.5em;
}

.hero-section__description {
    margin: 1em 0;
}

.hero-section__cta {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
}

.work-experience {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 2em;
}

.work-experience__title {
    color: var(--primary-color);
    font-size: 2em;
    cursor: pointer;
    display: inline-block;
}

.work-experience__company-name {
    color: var(--secondary-color);
    font-size: 1.5em;
}

.work-experience__role {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.work-experience__job-title {
    font-weight: bold;
    color: var(--primary-color);
}

.work-experience__job {
    margin-bottom: 1em;
}

.work-experience__sidebar {
    position: fixed;
    left: -400px;
    top: 0;
    height: 100%;
    width: 400px;
    background-color: var(--bg-color);
    overflow-y: auto;
    transition: left 0.3s ease-in-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.work-experience__sidebar--show {
    left: 0;
}

.work-experience__close {
    margin-top: 30px;
    padding: 0.5em;
    border: 1px solid var(--primary-color);
    color: var(--info-color) ;
    font-family: "Courier New", Courier, monospace;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}
